body {
    margin: 0px;
    padding: 0px;
    background: #000;

    /* one font to rule them all */
    font-family: 'Source Code Pro', monospace;
}

#container {
    width: 100%;
    text-align: center;
}

#game {
    /* centering the canvas */
    /*padding-top: 30px;*/
    display: inline;
    border: 1px solid #fff
}

#timer {
    color: #fff;
    display: block;
    text-align: center;
}

#copy {
    color: #fff;
    display: inline-block;
}
